@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.5%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 84.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
    --brandblue: #68c6f9;
    --brandpink: #feb0c0;
    --brandgreen: #8ce99a;
    --brandpurple: #a48bf7;
    --brandorange: #f8a85e;
    --brandred: #f66d9b;
    --brandwhite: #ffffff;
    --button-gradient-bg-size: 400%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border outline-0;
  }
  body {
    @apply bg-background text-foreground;
  }
  .primaryInput {
    @apply w-full h-10 pl-3 pr-3 outline-none text-sm border-1 border-black/20 rounded-lg bg-accent/20 text-black dark:text-default-500 hover:border-default-300 dark:border-white/10 dark:text-white/90 dark:placeholder-white/50 dark:focus:border-white/20 disabled:cursor-not-allowed;
  }

  .itemClass {
    @apply flex items-center w-full opacity-80 p-3 pl-2 pr-2;
  }

  .activeItemClass {
    @apply flex items-center w-full opacity-80 p-3 pl-2 pr-2 bg-foreground/10 dark:bg-accent/20 rounded-lg;
  }

  .primaryTitle {
    --bg-size: 400%;
    background: linear-gradient(
        90deg,
        var(--brandpurple),
        var(--brandpink),
        var(--brandpurple)
      )
      0 0 / var(--bg-size) 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move-bg 8s infinite linear;
  }

  @media (prefers-reduced-motion: no-preference) {
    .primaryTitle {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }

  .lineGradient {
    --bg-size: 400%;
    background: linear-gradient(
        90deg,
        var(--brandpurple),
        var(--brandpink),
        var(--brandpurple)
      )
      0 0 / var(--bg-size) 100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    .lineGradient {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }

  .code-container {
    scrollbar-width: thin; /* Set the width of the scrollbar */
    scrollbar-color: #999 transparent; /* Set the color of the scrollbar (track and thumb) */
  }

  /* Customize scrollbar */
  .code-container::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
  }

  .code-container::-webkit-scrollbar-thumb {
    background-color: #999; /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Round the corners of the thumb */
  }

  .code-container::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the scrollbar track */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .prompt-editor-wrapper {
    @apply bg-background text-foreground border-1
  }
}

/* scrollbar */

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark ::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background: #51515151;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #71717171;
}

/* Firefox */
html {
  scrollbar-color: #f1f1f1 #888;
}

.dark html {
  scrollbar-color: transparent #51515151;
}

html {
  scrollbar-width: thin;
}

/* Draft editor */
.DraftEditor-editorContainer {
  @apply min-h-full text-sm;
}
/* 
.public-DraftEditor-content {
  @apply min-h-full bg-red-500;
} */

.public-DraftEditorPlaceholder-inner {
  @apply absolute top-3 left-0 text-sm;
}